body{
    direction: rtl;
    text-align: right;
}

img{
    max-width: 100%;
    height: auto;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.list .item{
    border: solid 1px #eee;
    width: 15%;
    flex: 0 0 15%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.list .item img{
    width: 100%;
    height: 80px;
    object-position: center;
    object-fit: cover;
}

.list .item h2{
    font-size: 14px;

}

.cart{
    width: 250px;
    border: solid 1px #eee;
    margin-bottom: 40px;
    padding: 15px;
}

.cart-list .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #eee;
    margin-bottom: 15px;
    padding: 10px;
}

.cart-list .item img{
    width: 80px;
    flex: 0 0 80px;
    object-position: center;
    object-fit: cover;
    height: 50px;
}

.cart-list .item h2{
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-bottom: 5px;
}

.cart-list .actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}

.cart-list .actions button{
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.preson-part{
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.preson-part section{
    width: 30%;
    flex: 0 0 30%;
    max-width: 30%;
    padding: 15px;
}